@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1e293b;
  --color-primary-dark: #0f172a;
  --color-primary-light: #e2e8f0;

  --color-app-bg: #ffffff;
  --color-app-surface: #ffffff;
  --color-app-border: #e2e8f0;

  --color-text-heading: #0f172a;
  --color-text-body: #475569;
  --color-text-muted: #94a3b8;
}

body {
  background-color: var(--color-app-bg);
  color: var(--color-text-body);
}

@layer components {
  .table-responsive {
    @apply overflow-x-auto w-full rounded-xl border-l border-t border-r border-app-border bg-app-surface;
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-muted) transparent;
  }
  .table-custom {
    @apply w-full text-left border-collapse;
  }
  .table-head-cell {
    @apply p-4 text-xs font-semibold tracking-normal text-text-muted border-b border-app-border;
  }
  .table-body-cell {
    @apply p-4 font-medium text-text-body border-b border-app-border;
  }
}

body {
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
